<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APPdemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>234AAC5B278E732100F1C6BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>234AAC76278E732B00F1C6BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>234AAC80278E732B00F1C6BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
